body {
    width: 100%;
    margin: 0 auto;
  }
  header {
    padding: 25px 25px 0px 25px;
    background-color: white;
  }
  .top {
    display: none;
  }
  /* header flex styles */
   .hamburger_menu {
    width: 36px;
    height: 36px;
  }
    .header_imgs {
    width: 100%;
    display: flex;
  }
   .header_imgs a {
    max-width: 100%;
    justify-content: right;
    flex: 1 1 0;
  }
  .header_imgs img {
    max-width: 100%;
    flex: 0 0.1 0;
    justify-content: left;
    align-items: flex-end;
  }
  /* header sign up styles flex */
  .sign_up {
    margin-top: 50px;
    display: flex;
  }
  .sign_up_left {
    flex-direction: column;
    flex: 0 0 250px;
  }
  .sign_up_left h3 {
    color: #FF3998
  }
  .sign_up_left h1 {
    width: 300px;
    font-size: 50px;
  }
  .sign_up_left p {
    font-size: large;
    width: 270px;
  }
  .sign_up_left button {
    width: 190px;
    height: 55px;
    margin: 0px;
    font-size: 17px;
    padding: 15px 0 15px 0;
    margin-bottom: 20px;
    background-color: white;
    border-image: url(/Atsiskaitymas_NFT_landing/assets/background.svg) 30% round;
    border-radius: 5em;
  }
  .NFT_example {
    width: 430px;
    height: 400px;
    margin-left: -110px;
    margin-top: -70px;
    justify-content: right;
  }
  
  /* Main styles */
  .background {
    padding: 70px 25px 10px 25px;
    background-image: url(/Atsiskaitymas_NFT_landing/assets/background.svg);
    background-repeat: no-repeat;
    background-position: -5px;
  }
  .background p:first-child {
    margin: 0;
    font-size: 40px;
  }
  .background p:nth-child(2) {
    font-size: large;
    margin-bottom: 20px;
  }
  section {
    margin-bottom: 45px;
  }
.company {
  width: 100%;
  margin: 70px 0;
  padding-top: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.boomerang, .blimp, .qrco, .droplet {
  width: 115px;
  height: 35px;
  padding: 5px 40px;
  align-content: flex-start;
}
.boomerang {
  width: 115px;
  object-fit: cover;
  object-position: 0px;
  align-self: center;
}
.opendoor {
  display: none;
}
.section_text p {
  margin: 25px;
  font-size: 20px;
}
.section_text p:first-child {
  font-size: 50px;
}
.NFT_style {
  width: 290px;
  margin: 25px 5px 25px 25px;
  background-color: #EEEEEE;
  border-radius: 16px;
  display: grid;
  grid-template-columns: 25px 120px 120px 25px; 
  grid-template-rows: 65% 10% 10% 10%;
}
.NFT_style img {
  grid-column: 1 / 5;
}
.NFT_style p {
  color: #777777;
  margin: 0 0 5px 0;
  }
.NFT_style p:nth-child(2){
  margin-top: 25px;
  grid-area:  2 / 2 / 3 / 3;
  color: #FF8139;
  font-size: 12px;
}
.NFT_style p:nth-child(3) {
  grid-area:  3 / 2 / 4 / 3;
  font-size: 20px;
  color: black;
}
.NFT_style p:nth-child(4) {
  grid-area:  4 / 2 / 5 / 3;
  font-size: 18px;
}
.NFT_style p:nth-child(5) {
  margin-top: 25px;
  grid-area:  2 / 3 / 3 / 4;
  text-align: end;
  font-size: 12px;
}
.NFT_style p:nth-child(6) {
  grid-area:  3 / 3 / 4 / 4;
  text-align: end;
  color: black;
  font-size: 20px;
}
.NFT_style p:nth-child(7) {
  margin-bottom: 25px;
  grid-area:  4 / 3 / 5 / 4;
  text-align: end;
  font-size: 18px;
}
.NFT_line_up {
  margin-top: 40px;
  display: flex;
}
/* footer styles  */
.copyright{
  margin: 70px 0 50px 0;
}
.copyright p:last-child {
display: none;
}
footer {
  padding: 25px 25px 0px 25px;
  background-color: white;
  border-top: 1px solid lightgray;
}
.footer_img {
  width: 300px;
  height: 300px;
  margin-left: -110px;
  margin-top: 100px;
  justify-content: right;
}
footer .sign_up_left h1{
margin-bottom: 20px;
}
footer .sign_up_left button {
  margin-bottom: 34px;
  }
.line {
  margin-top: 2px;
  width: 430px;
  margin-left: -25px;
  position: relative;
  border-top: 1px solid lightgray;
}
footer nav {
margin-top: 34px;
}
.social_media img {
  width: 18px;
  height: 18px;
  padding: 10px;
}
.social_media img:first-child {
  padding: 10px 10px 10px 0;
}
.nav_left p {
  font-size: 20px;
  color: #555555;
}
.nav_right {
  margin: 40px 0;
}
.nav_right div {
  width: 120px;
  color: #555555;
}
.nav_right a {
  padding: 0 5px 5px 0;
  font-size: 20px;
  color: #555555;
  text-decoration: none;
}
.nav_right h1 {
  font-size: 16px;
  padding-bottom: 10px;
}
nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.nav_right div {
  margin-right: 40px;
  display: flex;
  flex-direction: column;
}
.nav_right {
  display: flex;
  flex-wrap: wrap;
}
footer p {
  font-size: 20px;
  color: #555555;
}

/* Desktop version */
@media screen and (min-width: 550px) {
  .top {
    width: 300px;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    align-items: center;
    gap: 15px;
  }
  .top a {
    color: #555555;
    font-size: 20px;
    text-decoration: none;
    }
    .top a:last-child {
      flex-basis: 76px;
      color: #FF3998;
    }
  .hamburger_menu {
    display: none;
  }
  .NFT_example {
    width: 500px;
    height: 500px;
    margin-top: -30px;
    margin-left: -140px;
  }
  .sign_up {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
  }
  .company {  
    margin-left: 25px;
  }
  .opendoor {
  display: block;
  }
  .boomerang {
    width: 180px;
    height: 35px;
    padding: 5px 15px 5px 0;
    align-content: flex-start;
  }
  .line {
    display: none;
  }
  footer .sign_up {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    position: relative;
  }
  footer {
    border-top: 0px;
  }
  .copyright {
    display: flex;
    justify-content: space-between;
  }
  .copyright p:last-child {
    display: block;
    }
  }
  @media screen and (min-width: 900px) {
    nav {
      flex-direction: row;
      align-items: center;
    } 
  }